body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #333;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

button.edit {
  margin-left: 5px;
  border-radius: 5px;
  background-color: #4caf50;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  color: #fff;
  border: none;
}

button.edit:hover {
  background-color: #429645;
}

button.delete {
  margin-left: 5px;
  border-radius: 5px;
  background-color: #f44336;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  color: #fff;
  border: none;
}

button.delete:hover {
  background-color: #ce3b31;
}
