table {
  background-color: #ffd700;
  font-family: arial, sans-serif;
}

table,
th,
td {
  border: 3px solid black;
}

td,
th {
  text-align: left;
  padding: 8px;
}

tr {
  background-color: #ffd700;
}

.nomor,
.nama,
.nim,
.alamat {
  font-weight: 700;
}
